---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Goals from "../components/Goals.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import AnimatedSection from "../components/AnimatedSection.astro";
---

<Layout title="Inicio - Aarón García Sánchez">
  <Header />
  <main>
    <AnimatedSection>
      <Hero />
    </AnimatedSection>
    <AnimatedSection delay={100}>
      <About />
    </AnimatedSection>
    <AnimatedSection delay={200}>
      <Goals />
    </AnimatedSection>
    <AnimatedSection delay={300}>
      <Projects />
    </AnimatedSection>
  </main>
  <Footer />
</Layout>
